*{
    margin: 0;
    padding: 0;
}
/* For Inter Font */

.font_inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    /* border: 1px solid red; */
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;    
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline;
    margin-right: 32px;
   
}

nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: black;    
}

/* For Button */
.btn1{
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    color: #ffff;
    background-color: #469165;
    border: none;
    border-radius: 5px;
}

.btn2{
    background-color: #ffff;
    color: #469165;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 100px;    
}

.btn3{
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    color: #ffff;
    border: 1px solid #ffff;
    background: none;
    border-radius: 5px;
}


/* Banner Section */
.banner{
    background-image: url("./assets/hero-bg.png");
    padding: 150px 120px;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_content{
    text-align: center;
}

.banner_content h1{
    line-height: 84px;
    padding: 16px 0;
}

.banner_content p{
    line-height: 24px;
    padding: 16px 0;
    color: #ffff;
    margin-bottom: 32px;
    padding: 0 530px;
}

.bantitle1{
    font-size: 72px;
    font-weight: 700;
    color: #ffff;
}

.bantitle2{
    font-size: 72px;
    font-weight: 700;
    color: #469165;
}

.banner_btn{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

