*{
    margin: 0;
    padding: 0;
}
/* For Inter Font */

.font_inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    border: 1px solid red;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;    
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline;
    margin-right: 32px;
   
}

nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: black;    
}

/* For Button */
.btn1{
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    color: #ffff;
    background-color: #469165;
    border: none;
    border-radius: 5px;
}