*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}
/* For Inter Font */

.font_inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;    
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline;
    margin-right: 32px;
   
}

nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: black;    
}

/* For Button */
.btn1{
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    color: #ffff;
    background-color: #469165;
    border: none;
    border-radius: 5px;
}

.btn2{
    background-color: #ffff;
    color: #469165;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 100px;    
}

.btn3{
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    color: #ffff;
    border: 1px solid #ffff;
    background: none;
    border-radius: 5px;
}


/* Banner Section */
.banner{
    background-image: url("./assets/hero-bg.png");
    padding: 150px 120px;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_content{
    text-align: center;
}

.banner_content h1{
    line-height: 84px;
    padding: 16px 0;
}

.banner_content p{
    line-height: 24px;
    padding: 16px 0;
    color: #ffff;
    margin-bottom: 32px;
    padding: 0 530px;
}

.bantitle1{
    font-size: 72px;
    font-weight: 700;
    color: #ffff;
}

.bantitle2{
    font-size: 72px;
    font-weight: 700;
    color: #469165;
}

.banner_btn{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}


/* Notes Section */
.notes_section{
    background-color: whitesmoke;
    padding: 0 120px;
}

.note_title{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}

.note_title h1{
    color: #001931;
    font-size: 48px;
    font-weight: bolder;
    padding-bottom: 20px;
}

.note_title p{
    color: #627382;
    font-size: 16px
}

.cards{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 24px;
    margin-top: 44px;
    
     
}

.card{
    text-align: center;
    /* border: 1px solid red; */
    border-radius: 10px 10px 0 0;
    padding: 100px 40px 0;
    margin: 0 auto;
    width: 25%;
    background-color: white;
}
.card img{
    background-color: #F95555;
    padding: 16px;
    border-radius: 50px;    
}

.card h2{
   margin-top: 20px;
   font-size: 24px;
   font-weight: 600;    
}
.card p{
    margin-top: 20px;
    font-size: 16px;
    color: #627382;
}

/* Second Brain Section */
.brain_section{
    display: flex;
    padding: 120px;
}
.brain_img{
    margin-right: 60px;
}

.brain_img img{
    border-radius: 12px;
    width: 600px;
    height: 600px;
}

.brain_content{
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.brain_msg{
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
}

.brain_content h1{
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 16px;
}

.brain_content p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;
}

.brain_content ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.brain_content ul li i{
    margin-right: 6px;
    /* background-color:#30B868 ; */
    color: #30B868 ;
}